<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>Slides</td>  <td><a href="https://docs.google.com/presentation/d/1y-r72JjWMWRd813edvLtwCy1fuxfCwstscKsF9jc3oY/edit?usp=sharing" target="_blank">Slides</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>10:00</td>  <td>Break I</td> </tr>
      <tr> <td>10:15</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>11:15</td>  <td>Break II</td> </tr>
      <tr> <td>11:30</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/index.html" target="_blank">Building Programs with Python</a></td> </tr>
      <tr> <td>10:00</td>  <td>Break I</td> </tr>
      <tr> <td>10:15</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>11:15</td>  <td>Break II</td> </tr>
      <tr> <td>11:30</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://jcszamosi.github.io/mcmaster_swc_git/" target="_blank">Version Control with Git</a></td> </tr>
      <tr> <td>10:00</td>  <td>Break I</td> </tr>
      <tr> <td>10:15</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>11:15</td>  <td>Break II</td> </tr>
      <tr> <td>11:30</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
